<%= turbo_frame_tag "ratings_list" do %>
<% if ratings.any? %>
<div class="list-group">
    <% ratings.includes(:user).each do |r| %>
    <div class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
            <strong><%= r.user.name %></strong>
            <span class="text-muted">
                <% time = r.updated_at.in_time_zone('Hanoi') %>
                <%= time.strftime("%H:%M %d/%m/%Y") %>
                <% if r.updated_at > r.created_at %>

                <% end %>
            </span>

        </div>

        <!-- Hiển thị sao -->
        <div class="rating-stars my-1" style="font-size: 1.2rem;">
            <% 1.upto(5) do |i| %>
            <span style="color: <%= i <= r.score ? 'gold' : 'lightgray' %>;">★</span>
            <% end %>
        </div>

        <!-- Hiển thị bình luận -->
        <div><%= r.comment %></div>
    </div>
    <% end %>
</div>
<% else %>
<p>Chưa có đánh giá nào.</p>
<% end %>
<% end %>