<%= form_with(model: [:admin, @food_drink], local: true) do |f| %>
<div class="mb-3">
    <%= f.label :name, "Tên" %>
    <%= f.text_field :name, class: "form-control" %>
</div>

<div class="mb-3">
    <%= f.label :price, "Giá" %>
    <%= f.number_field :price, class: "form-control" %>
</div>

<div class="mb-3">
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Chọn loại", class: "form-select" %>
</div>

<div class="mb-3">
    <%= f.label :description, "Mô tả" %>
    <%= f.text_area :description, class: "form-control" %>
</div>

<div class="mb-3">
    <%= f.label :stock, "Số lượng" %>
    <%= f.number_field :stock, class: "form-control", min: 0 %>
</div>

<div class="mb-3">
    <%= f.label :image, "Ảnh" %>
    <%= f.file_field :image, class: "form-control" %>
</div>

<%= f.submit "Lưu", class: "btn btn-primary me-2" %>
<%= link_to "Hủy", admin_food_drinks_path, class: "btn btn-secondary" %>
<% end %>