<%= link_to "Quay lại", food_drinks_path, class: "btn btn-outline-secondary me-2" %>
<h1>Lịch sử đơn hàng</h1>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each_with_index do |order, index| %>
        <tr>
            <td><%= index + 1 %></td>
            <td>#<%= order.id %></td>
            <td><%= order.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td><%= number_to_currency(order.total_price, unit: "₫") %></td>
            <td><%= order.status_human %></td>
            <td>
                <%= link_to "Chi tiết", order_path(order), class: "btn btn-sm btn-primary" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>