<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <h1>Welcome to Foods & Drinks App</h1>
    <% if user_signed_in? %>
    <p class="lead">Hello, <%= current_user.name.presence || current_user.email %>!</p>

    <%
=begin%>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary me-2" %>
    <%
=end%>
    <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Bạn chắc chắn muốn đăng xuất?" }, class: "btn btn-outline-danger" %>
    <% else %>
    <p class="lead">This is the home page for the Foods & Drinks application.</p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
</div>

<div class="text-center my-4">
    <%
=begin%>
    <%= image_tag "rails-logo.png", alt: "Rails Logo", width: 150 %>
    <%
=end%>
</div>