<tr id="<%= dom_id(item) %>">
    <td><%= index + 1 %></td>
    <td><%= item.food_drink.name %></td>
    <td><%= number_to_currency(item.food_drink.price, unit: "₫") %></td>
    <td>
        <%= form_with(model: item, url: cart_item_path(item), method: :patch) do |f| %>
        <%= f.number_field :quantity, value: item.quantity, min: 1, class: "form-control w-auto d-inline me-2 text-center" %>
        <%= f.submit "Cập nhật", class: "btn btn-sm btn-outline-primary" %>
        <% end %>
    </td>
    <td><%= number_to_currency(item.quantity * item.food_drink.price, unit: "₫") %></td>
    <td>
        <%= link_to "Xóa",
        cart_item_path(item),
        data: { turbo_method: :delete, turbo_confirm: "Bạn có chắc chắn muốn xóa sản phẩm này?" },
        class: "btn btn-sm btn-outline-danger" %>
    </td>
</tr>