<h1><%= @food_drink.name %></h1>
<p><%= @food_drink.description %></p>
<p>Loại: <%= @food_drink.category %></p>
<p>Giá: <%= number_to_currency(@food_drink.price, unit: "₫", delimiter: ".", format: "%n %u") %></p>

<% if @food_drink.image.attached? %>
<%= image_tag @food_drink.image, width: 400 %>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<%= link_to "Sửa", edit_food_drink_path(@food_drink), class: "btn btn-warning" %>
<%= link_to "Xoá",
            food_drink_path(@food_drink),
            data: { turbo_method: :delete, turbo_confirm: "Bạn chắc chắn muốn xoá?" },
            class: "btn btn-danger" %>

<% end %>

<%= link_to "Quay lại", food_drinks_path %>